body {
    background-color: #4a5c59;
}

.container {
    background-color: rgba(182, 197, 186, 0.5);
    padding: 70px;
    border-radius: 50px;
    margin-top: 90px;
}

.conteudo-pagina-principal-texto {
    margin-bottom: 20px;
    color: black
}